.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: dodgerblue;
  padding: 10px;
}

.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.banner {
  grid-column-start: 1;
  grid-column-end: 5;
}